<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="static/style.css">

    <title>SQL Driver</title>
    <!--main script-->
    <script src="static/rev2.js"></script>
    

</head>

<template id="table_template">
        <div class="row">
            <div class = "col">
                IF YOUR SEEING ME YOU BROKE SOMETHING
            </div>
            <select class = "col" id = "col_name">
            </select>
            <select class = "col" id = "col_info">
            </select>

        </div>
        <hr>
</template>

<template id="link_template">
        <div class="row">
            <div class ="col">TABLE ID GOES HERE IN JS</div>
            <select class = "col" id = "sel_1_name">
                <option value ="None"disabled selected hidden>SELECT ME</option>
                <option value ="None">None</option>
            </select>
            <select class = "col" id = "sel_1_data" disabled>
                <option value =""disabled selected hidden>SELECT TABLE 1</option>
            </select>
            <select class = "col" id = "sel_2_name">
                <option value ="None"disabled selected hidden>SELECT ME</option>
                <option value ="None">None</option>
            </select>
            <select class = "col" id = "sel_2_data" disabled>
                <option value ="" disabled selected hidden>SELECT TABLE 2</option>
            </select>
            <select class = "col">
                <option value ="INNER">INNER</option>
                <option value ="LEFT">LEFT</option>
                <option value ="RIGHT">RIGHT</option>
                <option value ="FULL">FULL</option>
            </select>
        </div>
</template>

<template id="act_template">
        <div class="row">
            <div class ="col">TABLE ID GOES HERE IN JS</div>
            <select class = "col" id = "payload">
                <option value ="None"disabled selected hidden>SELECT ACTION</option>
                <option value ="None">None</option>
                <option value ="SELECT">Print / Select</option>
                <option value ="SELECT">update (NYI)</option>
                <option value ="SELECT">drop (DANGER)(NYI)</option>
            </select>
            <select class = "col" id = "sel_name">
                <option value ="None"disabled selected hidden>SELECT TABLE</option>
                <option value ="None">None</option>
            </select>
            <select class = "col" id = "sel_data" disabled>
                <option value =""disabled selected hidden>SELECT TABLE FIRST</option>
            </select>
            <input class = "col" id = "cond" disabled placeholder="SELECT ACTION FIRST">
            </input>
        </div>
</template>


<body onload='generic.startup( {{schema|safe}} , {{bulk|safe}})'>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>




    <!-- alerts -->
    <div name="alerts">
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            <ul class="alert flashes sticky-top">
                {% for message in messages %}
                            <div class="alert alert-primary" role="alert">
                                <strong>Alert: </strong>{{ message }}
                                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                {% endfor %}
        {% endif %}
    {% endwith %}
    </div>
    <!-- end alerts -->

    <!--debug stats-->
    <div class='center' name="debug">
    {% if debug == True %}
    meth : {{meth}}
    <br>
    schema : {{schema}}
    <hr>
    {{bulk|safe}}
    <hr>

    <hr>
    {% endif %}
    <hr>
    </div>
    <!--end debug stats-->

    <div class = "container">
        
        <div id="output">
            OUTPUT: {{final}}
        </div>
        <hr>

        <!--tables-->
        <div>
            <div>
                <h1>Table viewer</h1>
                <br>
                displays information of acessable tables
                <!-- change tables -->
                <hr>
                <div class="row">
                    <button type='button' class='col btn btn-info' name='adj_tables_counter_bttn' onclick="generic.togg('table')">Toggle show Tables</button>
                    <button type='button' class='col btn btn-success' name='adj_tables_counter_bttn' onclick="generic.debug()">DEBUG</button>
                </div>
                <hr>
                <!--end changetables-->
                
                <!--table content-->
                <div class = "togg_on" id="table_chunk">
                    <div class = "center row card card-body"id="tab_content">
                        <div class="row">
                            <div class ="col">Table Name</div>
                            <div class ="col">Columns</div>
                            <div class ="col">Selected Column Info</div>
                        </div>
                    </div>
                </div>
                <hr>
                
                <!--end table content-->
            </div>
        </div>
        <!--end tables-->

        <!--Links-->
        <div>
            <div>
                <h1>Links</h1>
                <br>
                create JOIN's here
                <br>
                <p class="no_bottom bg_y">minimum: 0</p>
                <hr>
                <!-- change Links -->
                <div class="row">
                    <button type='button' class='col btn btn-success' name='adj_tables_counter_bttn' onclick="link.add()">Add New Table</button>
                    <button type='button' class='col btn btn-danger' name='adj_tables_counter_bttn' onclick="link.remove()">Remove Last Table</button>
                    <button type='button' class='col btn btn-info' name='adj_tables_counter_bttn' onclick="generic.togg('link')">Toggle show Tables</button>
                </div>
                <hr>
                <!--end changeLinks-->

                <!--Links content-->
                <div class = "togg_on" id="link_chunk">
                    <div class = "center row card card-body"id="link_content">
                        <div class="row">
                            <div class ="col">LINK ID</div>
                            <div class ="col">TABLE 1</div>
                            <div class ="col">TABLE 1 COLUMN</div>
                            <div class ="col">TABLE 2</div>
                            <div class ="col">TABLE 2 COLUMN</div>
                            <div class ="col">TYPE</div>
                        </div>
                    </div>
                </div>
                <hr>
                <!--end Links content-->
            </div>
        </div>
        <!--end Links-->

        <!--ACT-->
        <div>
            <div>
                <h1>ACT</h1>
                <p class="no_bottom bg_y">minimum: 1</p>
                <hr>
                <!-- change ACT -->
                <div class="row">
                    <button type='button' hidden class='col btn btn-success' name='adj_tables_counter_bttn' onclick="act.add()">Add New Action (cut)</button>
                    <button type='button' hidden class='col btn btn-danger' name='adj_tables_counter_bttn' onclick="act.remove()">Remove Last Action (cut)</button>
                    <button type='button' class='col btn btn-info' name='adj_tables_counter_bttn' onclick="generic.togg('act')">Toggle show actions</button>
                </div>
                <hr>
                <!--end change ACT-->

                <!--ACT content-->
                <div class = "togg_on" id="act_chunk">
                    <div class = "center row card card-body"id="act_content">
                        <div class="row">
                            <div class ="col">ACT ID</div>
                            <div class ="col">TYPE</div>
                            <div class ="col">TABLE</div>
                            <div class ="col">COLUMN</div>
                            <div class ="col">CONDITION</div>
                        </div>
                    </div>
                </div>
                <hr>
                <!--end ACT content-->
            </div>
        </div>
        <!--end ACT-->

        <button type='submit' class='col btn btn-primary' action='' method='post'>execute</button>
    </div>


</body>
</html>